<html>
    <head>
      <title>Balanced Skin Tips</title>
      <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
      
      </head>
    <body>
      <p class="balanced_skin"></p>
      <h1>You have balanced skin! Please see some tips below to best take care of your skin and have a healthy glow.</h1>
      <h2>What exactly does it mean?</h2>
      <h3>The T-zone (forehead, chin and nose) may be a bit oily, but overall sebum and moisture is balanced and the skin is neither too oily nor too dry.</h3>
      <p class= "tips">
        <img id= "normall" src="https://i.pinimg.com/736x/10/aa/d1/10aad1e46996a29965c6713d78cda756--normal-skin-skincare-routine.jpg">
        </p>
    </body>

</html>
