<html>
    <head>
      <title>Combinational Skin Tips</title>
      <link rel="stylesheet"  type="text/css" href="/style.css">
      <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
      </head>
    <body>
      <p class="combinational_skin"> 
      You have combinational skin! Please see some tips below to best take care of your skin and have a healthy glow.</p>
      <p class="combinational_skin"></p>
      <h2>You have combinational skin! Please see some tips below to best take care of your skin and have a healthy glow.</h2>
      <h2>What exactly does it mean?</h2>
      <h3>It means you have two or more kinds of skin type. Both oily and dry. Your skin can be dry or normal in some areas and oily in others, such as the T-zone (nose, forehead, and chin). Many people have this type.</h3>
      <p class= "tips">
        <img src:"https://www.stylecraze.com/articles/how-to-take-care-of-combination-skin-our-top-10-tips/#gref"/>
        <img src="https://i.pinimg.com/originals/ec/a6/a6/eca6a64ebbcdaedbf62ffc6a2020c1fd.jpg"/>
        
        </p>
    </body>
</html>
