
<html>
  <head>
    <title>Dry skin care</title>
    <link rel="stylesheet"  type="text/css" href="/style.css">
    <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <p class="dry_skin">
      it seems you have dry skin.This means that your face is dehyrdated often.check out some tips below.</P>
      <h2>It seems, you have Dry Skin. This means that your face is dehyrdated often. Check out some tips below.</h2>
      <h2>What exactly does it mean?</h2>
      <h3>Your skin can crack, peel, or become itchy, irritated, or inflamed. If it’s very dry, it can become rough and scaly, especially on the backs of your hands, arms, and legs.</h3>
      <p class="tips_for_dry_skin">
        <img src="http://www.bodyandbeans.com/wp-content/uploads/2017/07/23-natural-face-care-tips-for-dry-skin-thatll-make-you-glow.jpg"/>
        <img id= "dryy" src="https://i.pinimg.com/736x/a9/c9/0e/a9c90e45553199c76eb180986c4560bf--your-skin-dry-skin.jpg">
      </p>
  </body>
</html>
