
<html>
  <head>
    <title>identifying my skin type </title>
    <link rel="stylesheet"  type="text/css" href="/style.css">
    <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
    <body>
      <h1 class="header">your skin type</h1>
      <h1 class="header">Find Out Your Skin Type!</h1>
      <form action="/results" method="post">



      <h2>How does you skin feel when you wake up in the morning?</h2>


       <button type ="submit" class="new"> Let's find out your skin type! </button>
       <br></br>
  <img id="face" src="https://i.ytimg.com/vi/h7xEAX1k2QI/maxresdefault.jpg">
 
 



 
    </body>
  </head>
</html>
