<html>
    <head>
      <title>Oily Skin Tips</title></head>
       <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">>
    <body>
      <p class="oily_skin"/>
     <h1> You have oily skin! Please see some tips below to best take care of your skin and have a healthy glow.</h1>
      <h2>What exactly does it mean?</h2>
      <h3>Having oily skin means that the amount of sebum produced is above the normal limit. It is very common for teens and people in their early 20s and can be caused by genetics, stress, or hormonal changes.
</h3>
      <p class= "tips">
         <img id= "oilyy" src=https://i.pinimg.com/736x/4f/ab/74/4fab74c2743dda6c35d9d91d639204bc--tasting-menu-beauty-tips.jpg>
      </p>
    </body>
</html>
